{% extends 'base.html' %}
{% load static %}

{% block title %}
Nuevo torneo
{% endblock %}

{% block content %}
    <p>
        <h1>Nuevo Torneo</h1>
    </p>
    <form class="form-group uniForm blueForm" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Aceptar</button>
    </form>
{% endblock %}
{% block javascript_files %}
<script src="{% static '/js/jquery.simple-dtpicker.js' %}" charset="utf-8"> </script>
<script charset="utf-8">
    $(function(){
        $('*[name=datefield]').appendDtpicker({
            'closeOnSelected': true,
            'dateFormat': 'DD/MM/YYYY',
            'locale': 'es',
            'autodateOnStart': false,
            'dateOnly': true
          });
        });
    </script>
{% endblock %}
